body {
  background-color: #e1dbd9;
  font-family: "Arial";
  padding: 2rem 15rem;
  box-sizing: border-box;
  font-size: 1.2rem;
}

h1 {
  color: #2f2f2f;
  text-align: center;
}

.acc-container {
  width: 100%;
  margin: auto;
}

.acc-body {
  width: 98%;
  width: calc(100% - 2rem);
  margin: 0 auto;
  background-color: #a3c8d6;
  box-sizing: border-box;
  cursor: pointer;
  height: 0;
  overflow: hidden;
}

.acc-label {
  cursor: pointer;
  display: block;
  padding: 1rem;
  width: 100%;
  z-index: 100;
  color: #4f348c;
  font-weight: 600;
}

.acc-container:hover .acc-label {
  color: #000000;
}

.acc-container input {
  display: none;
}

.acc-header {
  background-color: #b2a3d6;
  border: 0.1rem solid #8c80a9;
  display: flex;
  cursor: pointer;
}

.acc-header:hover {
  background-color: #7c68aa;
}

.acc-button {
  background-color: inherit;
  margin: auto 1rem;
  border: 0;
  cursor: pointer;
}

input:checked + label .acc-header {
  background-color: #7c68aa;
}

input:hover + label .acc-header {
  background-color: #7c68aa;
}

input:checked + label .acc-label {
  color: #000000;
}

.acc-container:hover input + label .acc-button::before {
  font-family: "FontAwesome";
  content: "\f067";
}

.acc-container:hover input:checked + label .acc-button::before {
  display: inline-block;
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}

.acc-container input:hover + label .acc-button::before {
  font-family: "FontAwesome";
  content: "\f00d";
  transform: rotate(0deg);
}

.acc-container input:checked + label .acc-body {
  height: auto;
}

.acc-container input:checked + label .acc-body img {
  width: 35%;
  margin: 2rem auto;
  display: block;
}

.acc-container input:hover + label .acc-body {
  height: auto;
}

.acc-container input:hover + label .acc-body img {
  width: 35%;
}

img {
  width: 0;
  margin: 2rem auto;
  display: block;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1920px) {
  body {
    padding: 2rem 10rem;
    font-size: 1rem;
  }
  .acc-container input:hover + label .acc-body img {
    width: 40%;
  }

  .acc-container input:checked + label .acc-body img {
    width: 40%;
  }
}

@media (max-width: 820px) {
  body {
    padding: 2rem;
    font-size: 0.8rem;
  }

  .acc-container input:hover + label .acc-body img {
    width: 70%;
  }

  .acc-container input:checked + label .acc-body img {
    width: 70%;
  }
}

@media (max-width: 320px) {
  body {
    padding: 1rem;
    font-size: 0.6rem;
  }
}
